In [26]:
import os
import pandas as pd

path= r"E:\instacart_2017_05_01"
os.chdir(path)
os.listdir(path)
aisles=pd.read_csv("aisles.csv")
departments=pd.read_csv("departments.csv")
orders_product1 = pd.read_csv("order_products__part1.csv")
orders_product2 = pd.read_csv('order_products__part2.csv')
orders =pd.read_csv("orders.csv")
products =pd.read_csv("products.csv")

In [27]:
#we will append both orders excel
trans_df=orders_product2.append(orders_product1,ignore_index=True)
orders_product2.shape

(32434489, 4)

In [6]:
#number of customers?

len(orders.user_id.unique())

206209

In [ ]:
#percentage of customer placing more than  80 orders

In [10]:
list(orders)

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [11]:
customer=orders.groupby('user_id')['order_id'].count().reset_index()
customer.head()

   user_id  order_id
0        1        11
1        2        15
2        3        13
3        4         6
4        5         5

In [17]:
customer1=customer[customer['order_id']>80]
customer1.head()

     user_id  order_id
26        27        82
209      210       100
309      310       100
312      313       100
408      409        87

In [19]:
(len(customer1)/len(customer))*100

1.3719090825327702

In [34]:
#Which is more popular Organic Strawberries or Strawberries?

organic_straberries=trans_df[trans_df['product_id']==21137]
len(organic_straberries)

275577

In [43]:
len(organic_straberries)/len(trans_df.groupby('order_id').size())*100

8.235808854711614

In [44]:
Strawberries=trans_df[trans_df['product_id']==16797]

In [46]:
len(Strawberries)/len(trans_df.groupby('order_id').size())*100

4.466266975445618

In [63]:
len(Strawberries)

149445

In [49]:
#How likely is it to purshace banana if someone purchase Strawberries?

banana=trans_df[trans_df['product_id']==24852]
Strawberries=trans_df[trans_df['product_id']==16797]

In [55]:
Confidence=pd.merge(banana,Strawberries,left_on='order_id',right_on='order_id',how='inner')
len(Confidence)

43180

In [58]:
(len(Confidence)/len(Strawberries))*100

28.893572886346146

In [97]:
#How strong is the asscoiatoin between Organic Raspbarries and Organic Strawberries?

Organic_Ras=trans_df[trans_df['product_id']==27966]
Organic_Stra=trans_df[trans_df['product_id']==21137]

In [105]:
#Support of Organic Ras
A=len(Organic_Ras)/len(trans_df.groupby('order_id').size())
A

0.042617890829366754

In [106]:
#Support of Organic Stra
B=len(Organic_Stra)/len(trans_df.groupby('order_id').size())
B

0.08235808854711614

In [110]:
#Supoort of both

Suport=pd.merge(Organic_Ras,Organic_Stra,left_on='order_id',right_on='order_id',how='inner')
C=len(Suport)/len(trans_df.groupby('order_id').size())
C

0.01061928230710356

In [111]:
lift=C/(A*B)
lift

3.025498593297621

In [76]:
products[products['product_name']=='Organic Raspberry']

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id]
Index: []

In [ ]:
#Step=1 FIng the top 20 product

In [123]:
productcount=trans_df.groupby(['product_id']).size().reset_index()
productcount.head()
#Renaminig the 0 columns
productcount=productcount.rename(columns={0:"Freq"})
#Findin the top 20 prducts
productcount_top20=productcount.sort_values(by='Freq',ascending=False)
productcount_top20.head()

       product_id    Freq
24849       24852  491291
13173       13176  394930
21134       21137  275577
21900       21903  251705
47205       47209  220877

In [124]:
#Bringing the column of product name


newproductCountDf=pd.merge(productcount_top20,products,left_on='product_id',right_on='product_id',how='inner')
newDf=newproductCountDf[['product_id','product_name']]
newDf.head()

   product_id            product_name
0       24852                  Banana
1       13176  Bag of Organic Bananas
2       21137    Organic Strawberries
3       21903    Organic Baby Spinach
4       47209    Organic Hass Avocado

In [126]:
#List for which i need to filter my trans_df


productID=newDf[['product_id']]
productID.head()

   product_id
0       24852
1       13176
2       21137
3       21903
4       47209

In [129]:
#Filtering the trans_df for these 20 product ID


df=trans_df[0:0]
for i in range (0,20):
    pId=productID.iloc[i]['product_id']
    stDf=trans_df[trans_df['product_id']==pId]
    df = df.append(stDf,ignore_index=False)
df.head()

     order_id  product_id  add_to_cart_order  reordered
77         10       24852                  1          1
180        20       24852                  6          0
190        22       24852                  3          1
234        26       24852                  2          1
414        52       24852                  2          1

In [130]:
#Getting the names for each product ID


df=pd.merge(df,newDf,left_on='product_id',right_on='product_id',how='inner')
df.head()

   order_id  product_id  add_to_cart_order  reordered product_name
0        10       24852                  1          1       Banana
1        20       24852                  6          0       Banana
2        22       24852                  3          1       Banana
3        26       24852                  2          1       Banana
4        52       24852                  2          1       Banana

In [132]:
df.shape

(3466225, 5)

In [133]:
df['order_id'].nunique()

1801745

In [136]:
#Lets create the long table of order_id and product_name

basket=df.groupby(['order_id','product_name']).size().reset_index()
basket.head()

   order_id            product_name  0
0         1  Bag of Organic Bananas  1
1         1          Cucumber Kirby  1
2         1    Organic Hass Avocado  1
3         3    Organic Baby Spinach  1
4         5  Bag of Organic Bananas  1

In [137]:
#Converting the long data to wide data

basket1=basket.pivot('order_id','product_name',0)
basket1.head()

product_name,Apple Honeycrisp Organic,Bag of Organic Bananas,Banana,Cucumber Kirby,Large Lemon,Limes,Organic Avocado,Organic Baby Spinach,Organic Blueberries,Organic Fuji Apple,Organic Garlic,Organic Grape Tomatoes,Organic Hass Avocado,Organic Lemon,Organic Raspberries,Organic Strawberries,Organic Whole Milk,Organic Yellow Onion,Organic Zucchini,Strawberries
order_id,,,,,,,,,,,,,,,,,,,,
1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [138]:
basket1.shape

(1801745, 20)

In [139]:
#FIll nan with 0

Final_basket=basket1.fillna(0)
Final_basket.head()

product_name,Apple Honeycrisp Organic,Bag of Organic Bananas,Banana,Cucumber Kirby,Large Lemon,Limes,Organic Avocado,Organic Baby Spinach,Organic Blueberries,Organic Fuji Apple,Organic Garlic,Organic Grape Tomatoes,Organic Hass Avocado,Organic Lemon,Organic Raspberries,Organic Strawberries,Organic Whole Milk,Organic Yellow Onion,Organic Zucchini,Strawberries
order_id,,,,,,,,,,,,,,,,,,,,
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [140]:
!pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/16/e6/30e50ed9c053a1530c83149090e1f5fd9fccc8503dca2ecce1bb52f34de0/mlxtend-0.15.0.0-py2.py3-none-any.whl (1.3MB)
Requirement already satisfied: pandas>=0.17.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (0.23.4)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (40.6.3)
Requirement already satisfied: matplotlib>=1.5.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (3.0.2)
Requirement already satisfied: numpy>=1.10.4 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.15.4)
Requirement already satisfied: scipy>=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (0.20.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.17.1->mlxtend) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.17.1->mlxtend) (2018.7)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (2.3.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.17.1->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.15.0.0

In [143]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [145]:
#Creating the frequenting occuring itemset


freq_itemset=apriori(Final_basket,min_support=0.01,use_colnames=True)

In [147]:
#Creating Rules

rules=association_rules(freq_itemset, metric='lift',min_threshold=1.05)

In [150]:
rules.sort_values(by='confidence',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
15,(Organic Fuji Apple),(Banana),0.051555,0.272675,0.019511,0.378441,1.387882,0.005453,1.170162
11,(Cucumber Kirby),(Banana),0.055351,0.272675,0.018227,0.329296,1.207649,0.003134,1.084420
13,(Organic Avocado),(Banana),0.102248,0.272675,0.030865,0.301866,1.107055,0.002985,1.041813
6,(Organic Raspberries),(Bag of Organic Bananas),0.079147,0.219193,0.023468,0.296508,1.352728,0.006119,1.109902
2,(Organic Hass Avocado),(Bag of Organic Bananas),0.122591,0.219193,0.035943,0.293199,1.337631,0.009072,1.104706
17,(Strawberries),(Banana),0.082945,0.272675,0.023966,0.288936,1.059634,0.001349,1.022868
0,(Apple Honeycrisp Organic),(Bag of Organic Bananas),0.048437,0.219193,0.013533,0.279391,1.274634,0.002916,1.083537
4,(Organic Lemon),(Bag of Organic Bananas),0.050646,0.219193,0.013015,0.256983,1.172407,0.001914,1.050861
54,(Organic Raspberries),(Organic Strawberries),0.079147,0.152950,0.019721,0.249174,1.629122,0.007616,1.128158
47,(Organic Lemon),(Organic Hass Avocado),0.050646,0.122591,0.012225,0.241389,1.969067,0.006017,1.156600
40,(Organic Blueberries),(Organic Strawberries),0.058291,0.152950,0.013889,0.238274,1.557857,0.004974,1.112014
9,(Organic Strawberries),(Bag of Organic Bananas),0.152950,0.219193,0.035911,0.234787,1.071144,0.002385,1.020379
45,(Organic Garlic),(Organic Yellow Onion),0.063236,0.065334,0.012723,0.201192,3.079416,0.008591,1.170075
18,(Limes),(Large Lemon),0.081399,0.089242,0.016094,0.197723,2.215569,0.008830,1.135215
39,(Organic Zucchini),(Organic Baby Spinach),0.060726,0.139701,0.011858,0.195271,1.397782,0.003375,1.069055
44,(Organic Yellow Onion),(Organic Garlic),0.065334,0.063236,0.012723,0.194731,3.079416,0.008591,1.163293
50,(Organic Hass Avocado),(Organic Strawberries),0.122591,0.152950,0.023496,0.191659,1.253080,0.004745,1.047887
33,(Organic Garlic),(Organic Baby Spinach),0.063236,0.139701,0.012109,0.191493,1.370741,0.003275,1.064060
49,(Organic Raspberries),(Organic Hass Avocado),0.079147,0.122591,0.014881,0.188018,1.533710,0.005178,1.080578
19,(Large Lemon),(Limes),0.089242,0.081399,0.016094,0.180345,2.215569,0.008830,1.120717
53,(Organic Yellow Onion),(Organic Hass Avocado),0.065334,0.122591,0.011466,0.175490,1.431514,0.003456,1.064159
31,(Organic Avocado),(Organic Baby Spinach),0.102248,0.139701,0.017922,0.175281,1.254691,0.003638,1.043143
37,(Organic Yellow Onion),(Organic Baby Spinach),0.065334,0.139701,0.011353,0.173766,1.243843,0.002226,1.041229
56,(Organic Whole Milk),(Organic Strawberries),0.079264,0.152950,0.013746,0.173423,1.133851,0.001623,1.024768
3,(Bag of Organic Bananas),(Organic Hass Avocado),0.219193,0.122591,0.035943,0.163981,1.337631,0.009072,1.049509
8,(Bag of Organic Bananas),(Organic Strawberries),0.219193,0.152950,0.035911,0.163832,1.071144,0.002385,1.013014
34,(Organic Hass Avocado),(Organic Baby Spinach),0.122591,0.139701,0.020066,0.163679,1.171643,0.002940,1.028672
43,(Organic Garlic),(Organic Hass Avocado),0.063236,0.122591,0.010187,0.161090,1.314052,0.002435,1.045893
20,(Large Lemon),(Organic Avocado),0.089242,0.102248,0.014301,0.160244,1.567219,0.005176,1.069064
24,(Limes),(Organic Avocado),0.081399,0.102248,0.012791,0.157146,1.536915,0.004469,1.065134
51,(Organic Strawberries),(Organic Hass Avocado),0.152950,0.122591,0.023496,0.153616,1.253080,0.004745,1.036656
23,(Large Lemon),(Organic Baby Spinach),0.089242,0.139701,0.013346,0.149547,1.070483,0.000879,1.011578
26,(Limes),(Organic Baby Spinach),0.081399,0.139701,0.012052,0.148064,1.059863,0.000681,1.009816
35,(Organic Baby Spinach),(Organic Hass Avocado),0.139701,0.122591,0.020066,0.143632,1.171643,0.002940,1.024571
29,(Limes),(Organic Hass Avocado),0.081399,0.122591,0.011553,0.141934,1.157786,0.001575,1.022543
21,(Organic Avocado),(Large Lemon),0.102248,0.089242,0.014301,0.139862,1.567219,0.005176,1.058851
55,(Organic Strawberries),(Organic Raspberries),0.152950,0.079147,0.019721,0.128940,1.629122,0.007616,1.057164
30,(Organic Baby Spinach),(Organic Avocado),0.139701,0.102248,0.017922,0.128289,1.254691,0.003638,1.029874
25,(Organic Avocado),(Limes),0.102248,0.081399,0.012791,0.125103,1.536915,0.004469,1.049954
48,(Organic Hass Avocado),(Organic Raspberries),0.122591,0.079147,0.014881,0.121389,1.533710,0.005178,1.048078
12,(Banana),(Organic Avocado),0.272675,0.102248,0.030865,0.113194,1.107055,0.002985,1.012343
7,(Bag of Organic Bananas),(Organic Raspberries),0.219193,0.079147,0.023468,0.107065,1.352728,0.006119,1.031265
46,(Organic Hass Avocado),(Organic Lemon),0.122591,0.050646,0.012225,0.099725,1.969067,0.006017,1.054516
22,(Organic Baby Spinach),(Large Lemon),0.139701,0.089242,0.013346,0.095532,1.070483,0.000879,1.006954
28,(Organic Hass Avocado),(Limes),0.122591,0.081399,0.011553,0.094242,1.157786,0.001575,1.014180
52,(Organic Hass Avocado),(Organic Yellow Onion),0.122591,0.065334,0.011466,0.093527,1.431514,0.003456,1.031102
41,(Organic Strawberries),(Organic Blueberries),0.152950,0.058291,0.013889,0.090809,1.557857,0.004974,1.035766
57,(Organic Strawberries),(Organic Whole Milk),0.152950,0.079264,0.013746,0.089873,1.133851,0.001623,1.011657
16,(Banana),(Strawberries),0.272675,0.082945,0.023966,0.087891,1.059634,0.001349,1.005423
32,(Organic Baby Spinach),(Organic Garlic),0.139701,0.063236,0.012109,0.086681,1.370741,0.003275,1.025669
27,(Organic Baby Spinach),(Limes),0.139701,0.081399,0.012052,0.086272,1.059863,0.000681,1.005333
38,(Organic Baby Spinach),(Organic Zucchini),0.139701,0.060726,0.011858,0.084881,1.397782,0.003375,1.026396
42,(Organic Hass Avocado),(Organic Garlic),0.122591,0.063236,0.010187,0.083096,1.314052,0.002435,1.021659
36,(Organic Baby Spinach),(Organic Yellow Onion),0.139701,0.065334,0.011353,0.081266,1.243843,0.002226,1.017341
14,(Banana),(Organic Fuji Apple),0.272675,0.051555,0.019511,0.071552,1.387882,0.005453,1.021538
10,(Banana),(Cucumber Kirby),0.272675,0.055351,0.018227,0.066844,1.207649,0.003134,1.012317
1,(Bag of Organic Bananas),(Apple Honeycrisp Organic),0.219193,0.048437,0.013533,0.061740,1.274634,0.002916,1.014178
5,(Bag of Organic Bananas),(Organic Lemon),0.219193,0.050646,0.013015,0.059378,1.172407,0.001914,1.009283

In [151]:
rules.shape

(58, 9)